@includeNamed{"common.templ"}

@if{incrementalIndex==0}
package @{type.module.translateQualifiedName(type.module.packageName, 'groovy')};\n

public class GroovyExtension {\n
@end{}

@foreach{method:methods}
	@if{!method.staticMethod && checkMethod(method)}
		@includeNamed{'genMethod'}
		@if{method.kind == METHOD_FUTURE && method.fluentFuture != null}
			@includeNamed{'genMethod';method=method.fluentFuture}
		@end{}
	@end{}
@end{}

@if{incrementalIndex==incrementalSize-1}
}\n
@end{}
