package @{type.module.translateQualifiedName(type.packageName, 'groovy')};\n

import org.codehaus.groovy.runtime.m12n.ExtensionModule;
import org.codehaus.groovy.runtime.m12n.MetaInfExtensionModule;
import org.codehaus.groovy.runtime.m12n.PropertiesModuleFactory;

import java.util.Properties;

public class GroovyPropertiesModuleFactory extends PropertiesModuleFactory {\n

  public ExtensionModule newModule(Properties properties, ClassLoader classLoader) {
    try {
      Class.forName("io.vertx.lang.groovy.GroovyVerticleFactory");
      return MetaInfExtensionModule.newModule(properties, classLoader);
    } catch (ClassNotFoundException e) {
      return null; // how to create an empty module?
    }
  }

}\n
